#zen-icon {
	float: right;
	width: 250px;
	clear: left;
}

.stock {
	border-bottom: 1px solid #bdbdbd;
}

.stock-overview {
	width: 100%;
	padding: 10px 0;
}

.stock-details {
	clear: both;
}

.stock h3 {
	margin: auto 0;
}

.stock-content {
	float: left;
}

.stock-control {
	float: right;
}

.btn {
	margin-left: 5px;
}