<template name="addStock">
	<form class="main form">
		<div class="form-group">
			<label class="control-label" for="symbol">Symbol</label>
			<div class="controls">
		     	<input name="symbol" id="symbol" type="text" value="" placeholder="Stock Symbol" class="form-control"/>
		    </div>
      	</div>
      	<div class="form-group">
      		<label class="control-label" for="price">Price</label>
      		<div class="controls">
      			<input name="price" id="price" type="text" value="" placeholder="Stock Price" class="form-control"/>
      		</div>
	    </div>
	    <input type="submit" value="Submit" class="btn btn-primary"/>
	</form>
</template>