<template name="addStock">
	<form class="main form">
		<div class="form-group">
			<label class="control-label" for="symbol">Symbol</label>
			<div class="controls">
		     	<input name="symbol" id="symbol" type="text" value="" placeholder="Stock Symbol" class="form-control"/>
		    </div>
      	</div>
      	<div class="form-group">
      		<label class="control-label" for="buyPrice">Buy Price</label>
      		<div class="controls">
      			<input name="buyPrice" id="buyPrice" type="text" value="" placeholder="Buy Price" class="form-control"/>
      		</div>
	    </div>
	    <div class="form-group">
      		<label class="control-label" for="buyQuantity">Buy Quantity</label>
      		<div class="controls">
      			<input name="buyQuantity" id="buyQuantity" type="text" value="" placeholder="Buy Quantity" class="form-control"/>
      		</div>
	    </div>
	    <input type="submit" value="Submit" class="btn btn-primary"/>
	</form>
</template>