<template name="stockItem">
	<div class="stock">
		<div class="stock-overview">
			<div class="stock-content">
				<h3>
					<span class="stock-symbol">{{symbol}}</span>&nbsp;
					<span class="current-price">{{currentPrice}}</span>&nbsp;
					<span class="current-change {{colorIndicator}}">{{currentChange}} ({{currentChangePercentage}}%)</span>&nbsp;
				</h3>
			</div>
			<div class="stock-control">
				<button class="refresh btn btn-default">Refresh</button>
				<button class="transact btn btn-default">Transact</button>
				<button class="delete btn btn-default">Delete</button>
			</div>
		</div>			
		<div class="stock-details">
			{{#if hasPosition}}
				<ul>
					<li><span class="stock-details-value">{{position}}</span></li>
					<li><span class="stock-details-label">Net Position</span>&nbsp;<span class="stock-details-value">{{theoreticalClosedPosition}}</span></li>
				</ul>
			{{/if}}
		</div>
	</div>
</template>