<template name="stockItem">
	<div class="stock">
		<div class="stock-overview">
			<div class="stock-content">
				<h3><a href="#">{{symbol}}</a> ~ <span>{{currentPrice}}</span></h3>
			</div>
			<div class="stock-control">
				<button class="refresh btn btn-primary">Refresh</button>
				<button class="transact btn btn-primary">Transact</button>
				<button class="delete btn btn-primary">Delete</button>
			</div>
		</div>			
		<div class="stock-details">
			{{#if hasPosition}}
				<ul>
					<li>Position: {{position}}</li>
					<li>Theoretical Closed Position: {{theoreticalClosedPosition}}</li>
				</ul>
			{{/if}}
		</div>
	</div>
</template>